.formTable{
            background-color: rgb(255,211,155);
            width:60%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
            font-family:'courier', monospace;}

.valid{background-color:rgb(152,251,152);}
.invalid{background-color:rgb(250,128,114);}

#AJDiv{
			position:absolute;
			top:48%;left:24%;
			border:green 3px solid;
			width:60%;
			height:45%;}
#ValiDiv{   
			border:red 1px dashed;
			background-color: rgb(200,255,200);
			width:25%;
			height:30%;}
			
img, input[type="file"] {
		border:1px green dashed;
                float:right;
                width:20%;height:20%;}

.formTable input{
    width:100%;
    height:120%;}

.formTable textarea {
    width:100%;
    height:120%;
}
.formTable td{
    padding:1%;
    background-color:floralwhite;}

