.formDiv{background-color: rgb(255,211,155);width:50%;margin-left: auto;margin-right: auto;margin-top: 5%;}
.valid{background-color:rgb(152,251,152);}
.invalid{background-color:rgb(250,128,114);}


#AJDiv{
			position:absolute;
			top:48%;left:24%;
			border:green 3px solid;
			/*background-color:rgba(255,0,0,.5);*/
			width:60%;
			height:45%;
			overflow: auto;}
#ValiDiv{   
			border:red 1px dashed;
			background-color: rgb(200,255,200);
			width:25%;
			height:30%;
			overflow: auto;}
			
img, input[type="file"] {
		border:1px green dashed;
                float:right;
                width:20%;height:20%;}