<!DOCTYPE html>
<html>
<head>

<!--<script type="text/javascript" src="includes/jquery-1.8.2.js"></script>-->
<link rel="stylesheet" type="text/css" href="mainStyle.css" />
<title>Karnak | </title></head>

<body>
	<header>
	Karnak Registration
	</header>

	<nav>
		Navigation
		<ul>
			<li>Links</li>
			<li>Link2</li>
			<li>Link3</li>
			<li>Link4</li>
			<li>Link5</li>
		</ul>
	</nav>

	<div class="content">
	</div>

	<footer>
	About | Contact Us | Careers |
	</footer>
</body>

</html>